/*  GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
  --bs-body-color: #fd5b2f;
  --bs-white: #fff;
  --bs-light-text: #c0c0c0;
  --bs-dark-text: #040720;
  --bs-highlight-text: #555;
  --bs-red-text: #dc3545;
  --bs-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  --bs-body-dark: #212529;
  --bs-font-weight-400: 400;
  --bs-font-weight-500: 500;
  --bs-font-weight-600: 600;
  --bs-font-weight-700: 700;
}

body {
  background-color: var(--bs-white) !important;
  line-height: 1.7;
}

/*  RE-USABLE */

h1,
h2,
h3 {
  color: var(--bs-body-color);
  font-weight: var(--bs-font-weight-700) !important;
}

h4,
h5,
h6 {
  color: var(--bs-dark-text);
  font-weight: var(--bs-font-weight-600) !important;
}

section {
  padding: 80px 0px;
}

a {
  text-decoration: none;
  color: var(--bs-dark-text);
  transition: all 0.4s ease;
}

p {
  font-weight: var(--bs-font-weight-400) !important;
  font-size: 15px !important;
  margin-bottom: 0px;
}



/*  NAVBAR */
.navbar.sticky {
  background-color: var(--bs-dark-text) !important;
  padding: 16px 0px;
  transition: all 0.5s ease-in;
}

.navbar.sticky .span-text {
  color: var(--bs-white);
}

.navbar.sticky .nav-link {
  color: var(--bs-white) !important;
}



.top-nav {
  background-color: var(--bs-body-color);
  padding: 10px 0;
}

.col-auto p {
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 16px;
}

.col-auto p i,
.col-auto p span a {
  color: var(--bs-white);
  vertical-align: middle;
}

.social-links a {
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-white);
  font-size: 18px;
  border-radius: 100%;
  transition: all 0.4s ease;
}

.social-links a:hover {
  background-color: var(--bs-white);
  color: var(--bs-body-color);
  transform: translateY(-5px);
}

.navbar {
  box-shadow: var(--bs-box-shadow);
  transition: all 0.5s ease-in;
}

.navbar-brand {
  color: var(--bs-dark-text) !important;
  font-size: 24px;
  font-weight: var(--bs-font-weight-700);
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
}

.navbar-brand span {
  color: var(--bs-body-color);
}

.navbar-nav {
  font-weight: var(--bs-font-weight-500) !important;
  text-transform: capitalize;
  font-size: 15px;
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-body-color);
}

.dropdown-menu {
  border: none;
}

.dropdown-menu li:hover .dropdown-item {
  background-color: var(--bs-body-dark);
  color: var(--bs-white);
}

.dropdown-menu li:last-child {
  border-bottom: 1px solid var(--bs-light-text);
}

/* HEADER SLIDER */

.bg-cover {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  object-fit: cover;
}


.p-auto {
  margin: auto;
}

.h-slider-1 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/header\ \(1\).jpg);
}

.h-slider-2 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/header\ \(8\).jpg);
}

.h-slider-3 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/header\ \(12\).jpg);
}

.h-slider-4 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/header\ \(7\).jpg);
}

.h-slider-5 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/header\ \(14\).jpg);
}

.h-slider-6 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/conference\ \(1\).jpg);
}

.h-slider-7 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/pool\ \(5\).jpg);
}

.h-slider-8 {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/wed\ \(2\).jpg);
}


#header-slider .col-12 p {
  max-width: 600px !important;
}

.btn {
  text-transform: capitalize;
  font-weight: var(--bs-font-weight-500);
}

.btn.btn-secondary {
  background-color: var(--bs-body-color);
  border: var(--bs-light-text);
}

.btn.btn-secondary:hover {
  background-color: var(--bs-dark-text);
  color: var(--bs-white);
}

.btn.btn-outline-light:hover {
  color: var(--bs-dark-text) !important;
}


.owl-prev,
.owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3) !important;
  top: 50%;
  display: grid;
  place-items: center;
  border-radius: 100% !important;
  font-size: 24px !important;
  color: var(--bs-white) !important;
  margin-top: -30px !important;
  transition: all 0.4s ease;
}

.owl-prev {
  left: 0;
}


.owl-next {
  right: 0;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: var(--bs-body-color) !important;
}


/*  ABOUT */

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.about-icon-img-wrap img {
  width: 90px !important;
  height: 90px !important;
  background-color: var(--bs-body-color);
  border-top-left-radius: 50%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 50%;
  padding: 10px;
  margin-right: 16px;
}

.about-icon-desc h4 {
  text-transform: capitalize;
}

.about-icon-desc p {
  color: var(--bs-light-text);
}

#tour-icon a img {
  width: 100px !important;
  height: 100px !important;
  border-top-left-radius: 42%;
  border-top-right-radius: 32%;
  border-bottom-left-radius: 32%;
  border-bottom-right-radius: 32%;
}

.about-img-banner {
  max-width: 500px !important;
}

.about-img-banner a img {
  width: 100%;
  object-fit: cover;
}

/* MILESTONE */

.milestone-wrapper {
  background: linear-gradient(rgba(253, 92, 47, 0.7), rgba(253, 92, 47, 0.7)), url(../assets/banner/header\ \(9\).jpg);
}


.milestone-count .title {
  color: var(--bs-white) !important;
  text-align: center;
}

.milestone-desc p {
  color: var(--bs-white);
  font-weight: var(--bs-font-weight-500);
  text-align: center;
  text-transform: capitalize;
}


/* SERVICES */

.main-title-wrap .title {
  text-transform: capitalize;
  color: var(--bs-body-color) !important;
}


.card-title.title {
  position: relative;
}

.card-title.title::after {
  position: absolute;
  content: "";
  width: 20px !important;
  height: 2px !important;
  background-color: var(--bs-red-text);
  display: inline-block !important;
  top: 50%;
  margin-left: 10px;
}

.card-img-box {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: translateY(-5px);
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(253, 92, 47, 0.5);
  transition: height 0.5s;
}


.card-icon-box {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 18px;
  opacity: 0;
  transition: all 0.4s ease;
}


.card-icon-box p i,
.card-icon-box p span {
  vertical-align: middle !important;
  display: inline-block;
}

.card-icon-box p small {
  color: var(--bs-white);
  font-size: 18px;
  font-weight: var(--bs-font-weight-700);
  margin-right: 5px;
}


.card-icon-box i {
  color: var(--bs-white);
  margin-right: 5px;
  font-size: 16px;
}

.card-icon-box p span {
  font-size: 15px;
  font-weight: var(--bs-font-weight-400);
  color: var(--bs-white);
}

.card-img-box:hover .card-overlay {
  height: 100%;
}

.card-img-box:hover .card-icon-box {
  opacity: 1;
}

.card-button-wrap {
  text-align: right;
}

#btn {
  padding: 8px 32px;
}

/* NEW LISTINGS */
.title-wrap.mb-4.title-left,
.title-wrap.mt-4.title-left {
  display: flex;
  justify-content: left;
}

.box-wrap {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(192, 192, 192, 0.08);
}

.box-img-wrap {
  margin-right: 20px;
}

.box-img-wrap .box-img {
  width: 100px !important;
  object-fit: cover;
}

.box-body .title {
  text-transform: capitalize;
}

.box-text p {
  color: var(--bs-light-text);
}

.title-wrap.mt-4.title-left {
  border-bottom: 1px solid rgba(192, 192, 192, 0.08);
}

.box-cat-wrapper {
  border-bottom: 1px solid rgba(192, 192, 192, 0.08);
}

.cat-list li {
  text-transform: capitalize;
  text-decoration: underline;
}

.cat-list li a {
  color: var(--bs-red-text);
}

.cat-list li:hover {
  text-decoration: line-through;
}

.cat-list li::marker {
  color: var(--bs-light-text);
}


/* INSPIRED FACILITY */

.intro-box-wrap {
  margin-bottom: 40px;
}

.intro-box-text p {
  color: var(--bs-body-dark);
  max-width: 800px !important;
  margin: auto;
}

.slide-img-box {
  position: relative;
}

.slide-img-info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  bottom: 0;
}

.slide-img-info .title {
  color: var(--bs-white);
}

/* BANNER */
#banner {
  padding-top: 0;
}

.banner-box {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/tour\ \(16\).jpg);
}

.banner-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title.display-3 {
  color: var(--bs-white) !important;
}



/*  TESTMONIALS */

.title-sub-wrap .title {
  text-transform: capitalize;
}

#testimonials {
  background: linear-gradient(rgba(253, 92, 47, 0.7), rgba(253, 92, 47, 0.7)), url(../assets/banner/header\ \(8\).jpg);
}

#testimonials .title-sub-wrap .title {
  color: var(--bs-white);
}

#testimonials .intro-box-text p {
  color: var(--bs-light-text);
}

.review-wrapper {
  text-align: center;
  margin-top: 40px;
}

.review-img-box a img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 100%;
  display: grid;
  place-items: center;
  object-fit: cover;
  margin: auto;
  margin-bottom: 16px;
}

.review-name-box .name {
  font-size: 22px;
  color: var(--bs-white);
  text-transform: capitalize;
}

.review-hero-box small {
  color: var(--bs-highlight-text);
  font-weight: var(--bs-font-weight-500);
  font-size: 16px;
  margin-bottom: 10px;
}

.review-rate-box i {
  font-size: 18px;
}

.review-rate-box i:nth-child(4) {
  color: var(--bs-dark-text);
}

.review-text-box p {
  color: var(--bs-light-text);
  max-width: 800px !important;
  display: grid;
  place-items: center;
  text-align: center;
  margin: auto;
}

.owl-dot.active span {
  background-color: var(--bs-body-color) !important;
}


/* THINGS INTERESTED */

.card {
  box-shadow: var(--bs-box-shadow);
  border: none;
}

.card-title {
  text-transform: capitalize;
  color: var(--bs-dark-text);
  text-align: center !important;
}

.text-wrap .card-text {
  text-align: center;
  color: var(--bs-highlight-text);
}

.card-icon-wrap p {
  display: inline-block;
}

.card-icon-wrap p a i {
  width: 34px !important;
  height: 34px !important;
  background-color: rgba(253, 92, 47, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px !important;
  color: var(--bs-body-color);
  font-size: 18px;
  transition: all 0.4s ease;
}

.card-icon-wrap p a i:hover {
  background-color: var(--bs-light-text);
  color: var(--bs-dark-text);
}

.card-icon-wrap p span {
  color: var(--bs-body-dark);
  margin-left: 5px;
  font-weight: var(--bs-font-weight-500);
}

.card-icon-wrap p i,
.card-icon-wrap p span {
  vertical-align: middle;
}

/* GENERAL ABOUT START */

.about-box {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/banner\ \(8\).jpg);
  min-height: 40vh !important;
  width: 100% !important;
}

.about-main-img img {
  width: 100%;
  height: 350px !important;
  object-fit: cover !important;
}

.about-text {
  color: var(--bs-highlight-text) !important;
}

/* MEMBERS */

.about-img-top {
  width: 90px !important;
  height: 90px !important;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 14px;
}

.member-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* CORE FEATURES */

.core-box {
  box-shadow: var(--bs-box-shadow);
  background-color: var(--bs-body-dark);
  border-radius: 8px;
  padding: 20px;
  border-radius: 40% 0px 38% 0px;
  overflow: hidden;
  transition: all 0.4s ease;
}


.core-img-box {
  text-align: center;
}

.core-img-top {
  width: 80px;
}


.core-box:hover {
  background-color: var(--bs-body-color);
  border-radius: 0px 35% 0px 35%;
  transform: rotate(360deg);
  cursor: pointer;
}

.core-box:hover p {
  color: var(--bs-white);
}

.title.text-center {
  color: var(--bs-white);
  font-size: 24px;
  text-transform: capitalize;
}


/* GLOBAL BUTTON STYLES */
/* RECENTS POST */

.button-wrap {
  text-align: right;
}

.btn-text {
  color: var(--bs-body-color);
  font-weight: var(--bs-font-weight-500);
  text-transform: capitalize;
  text-decoration: underline;
}

.btn-text:hover {
  text-decoration: line-through;
}


/* MAIN BANNER */

.main-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/banner\ \(16\).jpg);
  min-height: 40vh;
  width: 100%;
}

.contact-data.mb-2 p i {
  font-size: 18px;
  color: var(--bs-dark-text) !important;
  margin-right: 5px;
}

.contact-data.mb-2 p span {
  color: var(--bs-light-text);
}

.contact-data.mb-2 p i,
.contact-data.mb-2 p span {
  vertical-align: middle;
}

#contact .social-links .active {
  background-color: var(--bs-body-color);
  font-size: 15px;
}

#contact .social-links .active:hover {
  color: var(--bs-dark-text);
}

.map-box iframe {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
}


/*  PRIVACY */

#privacy-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/p-banner.jpg);
  ;
}

.privacy-text {
  max-width: 900px !important;
}

.privacy-text span {
  font-weight: var(--bs-font-weight-700);
}

/* POOL BANNER */

#pool-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/pool-banner.jpg);
}

.main-text {
  color: var(--bs-highlight-text) !important;
}

/* HERITAGE */

#heritage-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/offers/caption\ \(\).jpg);
}

/* ROOMS */

#room-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(1\).png);
}

.card-img-icons {
  background-color: var(--bs-white);
  width: 80%;
  text-align: center;
  margin: -30px auto;
  padding: 16px;
  z-index: 2;
  margin-bottom: 5px;
}

.card-img-icons i {
  font-size: 18px;
  margin: 5px;
}

.book-btn {
  border: 1px solid rgba(253, 92, 47, 0.2);
  font-weight: var(--bs-font-weight-500);
  text-transform: capitalize;
  color: var(--bs-body-color);
}

.title-wrap.mt-4.mb-4.title-left {
  border-bottom: none;
}

.list-box ul li {
  color: var(--bs-light-text) !important;
}

.list-box ul li::marker {
  content: "✔";
}

/* FAMILY ROOM */

#family-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/p-banner.jpg)
}

.img-auto-wrap a img {
  width: 100% !important;
  height: 360px;
}


.title-wrap.mb-3.title-left {
  display: flex;
  justify-content: left;
  border-top: 1px solid rgba(192, 192, 192, 0.08);
}

.icon-wrap-1 {
  display: flex;
  align-items: center;
  text-align: center;
}

.icon-wrap-1 i {
  font-size: 18px;
  color: var(--bs-dark-text);
  margin-right: 8px;
}


.icon-wrap-1 p {
  color: var(--bs-light-text) !important;
}

/* COTTAGE */
#cottage-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/tour\ \(12\).jpg)
}

#deluxe-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(19\).jpeg);
}

#club-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(29\).jpg);
}

#superior-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(47\).jpg);
}

#corner-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(48\).jpg);
}

#state-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(51\).jpg);
}

#business-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(52\).jpg);
}

#executive-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(41\).jpg);
}

#garden-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(49\).jpg);
}

#accommodation-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/header\ \(8\).jpg);
}

.accom-img-top {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
  border-radius: unset;
}



.card.accom-box {
  box-shadow: none;
}

.card-img-icons.accom-img-icons {
  margin: -40px auto;
  padding-bottom: 40px;
}

.card-img-icons.accom-img-icons i {
  padding: 20px;
}

.card-body.accom-text {
  z-index: 3;
}


/*  CONFERENCE */

#conference-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/conference\ \(1\).jpg);
}

#serenity-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/conference\ \(12\).jpg);
}


#summit-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/conference\ \(3\).png);
}

.body-text {
  max-width: 800px !important;
  margin: auto;
  padding-top: 16px;
}


/* LEISURE ACTIVITIES */

#leisure-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/banner\(11\).jpg);
}

.package-box.mt-3 li {
  color: var(--bs-light-text);
}

/*  WELLNESS */

#wellness-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/room\ \(56\).jpg);
}

#massage-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/blog/blog\ \(58\).jpg);
}

#healthclub-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/gym\ \(2\).jpg);
}

/*  TOUR  */
#tour-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/offers/caption\ \(8\).jpg);
}
#term-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/banner\ \(15\).jpg)
}


/* FAQ */

#faq-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/banner/header\ \(4\).jpg);
}

.accordion-item {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid var(--bs-body-color) !important;
  padding-left: 0;
  padding-right: 0;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-light-text) !important;
  background-color: var(--bs-white);
  box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
  box-shadow: none !important;
}


.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* HONEYMOON  */
#honeymoon-banner {
  background: linear-gradient(rgba(4, 7, 32, 0.6), rgba(4, 7, 32, 0.6)), url(../assets/captions/wed\ \(3\).jpg);
}































/*  FOOTER  */
.footer {
  background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.9)), url(../assets/banner/header\ \(3\).jpg);
  padding-top: 40px;
  padding-bottom: 20px;
}



.footer-img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-img-logo img {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  border-radius: 100% !important;
}

.footer-hotel-desc p,
.footer-link-wrap a,
.footer-contact-wrap p i,
.footer-contact-wrap p span a {
  color: rgba(192, 192, 192, 0.4);
  font-weight: var(--bs-font-weight-400);
}


.footer-link-title .title {
  text-transform: capitalize;
  color: var(--bs-white);
  margin-bottom: 20px;
  position: relative;
}

.footer-link-title .title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: var(--bs-body-color);
}


.footer-link-wrap a {
  display: block;
  text-transform: capitalize;
  transition: all 0.4s ease;
}

.footer-link-wrap a:not(:last-child) {
  margin-bottom: 14px;
}

.footer-link-wrap a:hover {
  color: var(--bs-white);
  transform: translateX(5px);
}

/*  BOTTOM FOOTER */
.bottom-footer {
  border-top: 1px solid rgba(192, 192, 192, 0.08);
}

.footer-bottom-box {
  margin-top: 20px;
}

.author-text-wrap p {
  color: var(--bs-light-text);
  text-transform: capitalize;
}

.term-link-wrap,
.privacy-link-wrap {
  display: inline-block;
}

.term-link-wrap a,
.privacy-link-wrap a {
  color: var(--bs-light-text);
  text-transform: capitalize;
}


.term-link-wrap a {
  margin-right: 20px;
}


/* SMALL SCREEN ONLY */

@media(max-width: 300px) {
  body {
    font-size: 14px;
  }

  .author-text-wrap p {
    text-align: center;
    font-size: 14px;
  }

}

@media(max-width: 400px) {
  .author-text-wrap p {
    text-align: center;
    font-size: 14px;
  }

}

@media(max-width: 500px) {
  .author-text-wrap p {
    text-align: center;
    font-size: 14px;
  }
}

@media(max-width: 600px) {
  .author-text-wrap p {
    text-align: center;
    font-size: 14px;
  }

}

@media(max-width: 767px) {
  .top-nav {
    display: none;
  }
}

@media(max-width: 768px) {
  .slide-img-box .title-wrap .title {
    font-size: 24px;
  }



  .slide-img-box .sub-img-title .title {
    font-size: 18px;
  }
}